@model BlogUsers
@{
    BlogUsers user = ViewBag.User = (BlogUsers)Model;
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_CenterLayout.cshtml";
}

<div class="profile-info-row">
    <div class="profile-info-name">
        原密码
    </div>
    <div class="profile-info-value">
        <input id="prepassword" type="password" />
    </div>
</div>
<div class="profile-info-row">
    <div class="profile-info-name">
        新密码
    </div>
    <div  class="profile-info-value">
        <input id="newpassword" type="password" />
    </div>
</div>
<div class="profile-info-row">
    <div  class="profile-info-name">
        确认密码
    </div>
    <div class="profile-info-value">
        <input id="passwordagain" type="password" onchange="clearnotsame()" />&nbsp;<label class="alert-danger" id="notsame"></label>
    </div>
</div>
<br />
<div class="col-md-offset-1">
    <input type="button" class="btn btn-primary" value="确认修改" onclick="modify()" />
</div>

<script>
    function modify()
    {
        if($("#newpassword").val()!=$("#passwordagain").val())
        {
            $("#notsame").text("两次密码输入不一致！");
            return;
        }else
        {
            if($("#prepassword").val().trim()==""||$("#newpassword").val().trim()=="")
            {
                alert("原密码或者新密码不能为空！");
            }
            else
            {
                $.post("/UserInfoCenter/Password", { prepwd: $("#prepassword").val().trim(), nowpwd: $("#newpassword").val().trim() }, function (obj) {
                    alert(obj);
                    location.reload();
                });
            }
        }
    }
    function clearnotsame()
    {
        $("#notsame").text("");
    }

</script>